<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Foydalanuvchilar ro'yxati</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"/>
</head>
<body>
    <div class="container">
        <h2>Kartalar ro'yxati</h2>
        <hr/>
        <a th:href="@{/addEmployeeForm}" class="btn btn-primary mb-2">Yangi karta ochish</a>
        <br/><br/>
        <table class="table table-bordered table-striped" id="employee-table">
            <thead>
                <tr>
                    <th>F.I.O</th>
                    <th>Turi</th>
                    <th>Karta raqami</th>
                    <th>Balans</th>
                    <th>Berilgan vaqti</th>
                    <th>Amal qilish muddati</th>
                    <th>Valyuta Turi</th>
                    <th>Billing Shaxri</th>
                    <th>Telefon raqam</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.card_holder}" />
                    <td th:text="${employee.card_type}" />
                    <td th:text="${employee.card_number}" />
                    <td th:text="${employee.card_balance} " />
                    <td th:text="${employee.card_created_date}" />
                    <td th:text="${employee.card_expiration_date}" />
                    <td th:text="${employee.card_currency}" />
                    <td th:text="${employee.card_billing_city}" />
                    <td th:text="${employee.card_billing_phone}" />
                    <td th:text="${employee.card_status}" />
                    <td>
                        <a th:href="@{/showUpdateForm(employeeId=${employee.Id})}" class="btn btn-info">Tahrirlash</a>
                        <a th:href="@{/deleteEmployee(employeeId=${employee.id})}" class="btn btn-danger">O'chirish</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
    <script
            type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js">
    </script>
<script>
    $(document).ready(function() {
        $('#employee-table').DataTable({
            'aoColumnDefs': [
                {
                    'bSortable': false, 'aTargets': [-1]
                }]
        })
    });
</script>
</body>
</html>